* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    /* background-color: brown; */
    width: 85%;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
}

.navbar {
    background-color: blue;
    color: white;
    /* padding: 30px; */
    height: 50px;
}

.hero {
    background-color: pink;
    height: 400px;
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;
}

.about-us {
    background-color: burlywood;
    text-align: center;
    padding: 30px 0px;
}


.services {
    padding: 30px 0px;
}

.services h1 {
    text-align: center;
    margin-bottom: 30px;
}

.service-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
}

.service img {
    width: 100%;
}