.todo {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    margin: 8px 0;
    /* background-color: brown; */
    border: 1px solid black;
    padding: 10px;
}

.done {
    text-decoration: line-through;
    color: gray;
}

button {
    cursor: pointer;
}